/** Layout Geral **/
body {
background-color:#662222;
zoom:100%;
}

#retanglinho {
height:650px;
background-color:#dc523c;
float:bottom;
}

#retanglinho2 {
height:360px;
background-color:#D6a64B;
float:bottom;
margin-top:2px;
}

/**Titulos**/
h1 {
margin-top:0px;
font-size:60px;
font-weight:800;
margin-bottom:20px;
text-decoration:underline;
background-color:#FFD9F3;
border-radius:90px;
width:360px;
height:60px;
color:#1F1621;
}

h2 {
margin-top:5px;
margin-bottom:8px;
margin-left:15px;
font-size:28px;
color:#FFD9E1;
background-color:#662222;
width:115px;
height:30px;
border-bottom-right-radius:40px;
border-bottom-left-radius:10px;
text-decoration:overline;
}

h4 {
margin-top:-10px;
margin-bottom:1px;
margin-left:10px;
font-size:18px;
color:#1F1621;
}


/**Produtos**/
h3 {
margin-top:5px;
margin-left:4px;
font-size:20px;
color:#1F1621;
float:left;
width:130px;
}

#imgproduto {
width:160px;
height:130px;
padding:4px;
border-radius:18px;
float:left;
}

#produto {
height:138px;
float:bottom;
background-color:#FFD9F3;
border:#1F1621 2px solid;
border-radius:20px;
margin-left:4px;
padding:4px;
} 

p {
font-size:18px;
color:#1b7;
margin-left:6px;
float:left;
margin-top:-10px;
}
