/** Responsividade **/

@media only screen and (max-device-width: 290px) {
body {
zoom:70%;
}}

@media only screen and (min-device-width: 291px) and (max-device-width: 361px) {
body {
zoom:85%;
}}

@media only screen and (min-device-width: 361px) and (max-device-width: 600px) {
body {
zoom:100%;
}}

@media only screen and (min-device-width: 601px) and (max-device-width: 800px) {
body {
zoom:150%;
}}

@media only screen and (min-device-width: 801px) and (max-device-width: 1080px) {
body {
zoom:225%;
}}

/** Layout Geral **/

body {
background-color:#662222;
}

#retanglinho {
height:650px;
background-color:#dc523c;
float:bottom;
}

#retanglinho2 {
height:360px;
background-color:#D6a64B;
float:bottom;
margin-top:2px;
}

button{
float:right;
margin-top:-25px;
margin-right:0.3%;
font-size:16px;
font-weight:900;
font-family:Helvetica;
background-color:#eef;
border-top-right-radius:90px;
border-top-left-radius:90px;
width:170px;
height:30px;
color:#1F1621;
border-right:10px solid #1b7;
border-top:4px solid #1b7;
border-left:6px solid #1b7;
}

/**Titulos**/
h1 {
font-size:40px;
font-family:Helvetica;
font-weight:900;
margin-bottom:20px;
text-decoration:underline;
background-color:#FFD9F3;
border-radius:90px;
width:180px;
height:80px;
color:#1F1621;
border-right:10px solid #D6a64B;
border-left:6px solid #dc523c;
border-bottom:3px solid #dc523c;
border-top:4px solid #D6a64B;
margin-top:0px;
}


h2 {
margin-top:5px;
margin-bottom:8px;
margin-left:15px;
font-size:28px;
color:#FFD9E1;
background-color:#662222;
width:115px;
height:30px;
border-bottom-right-radius:40px;
border-bottom-left-radius:10px;
text-decoration:overline;

}
h4 {
margin-top:-50px;
margin-bottom:20px;
font-size:18px;
color:#662222;
font-style:italic;
text-decoration:overline;
}


h5 {
margin-top:-8px;
margin-bottom:2px;
margin-left:30px;
font-size:14px;
color:#111;
font-style:italic;
text-decoration:underline;
}


#coiso {
margin-right:50%;
margin-bottom:-5px;
margin-top:0px;
font-size:18px;
font-weight:900;
font-family:Helvetica;
background-color:#FFD9F3;
border-top-right-radius:90px;
border-top-left-radius:90px;
width:180px;
height:25px;
color:#1F1621;
border-right:10px solid #D6a64B;
border-left:6px solid #dc523c;
border-top:4px solid #D6a64B;
}


/**Produtos**/
h3 {
margin-top:5px;
margin-left:4px;
font-size:20px;
color:#1F1621;
float:left;
}

#imgproduto {
width:160px;
height:130px;
padding:4px;
border-radius:18px;
float:left;
}

#produto {
height:138px;
float:bottom;
background-color:#FFD9F3;
border:#1F1621 2px solid;
border-radius:20px;
margin-left:4px;
margin-right:4px;
padding:4px;
} 

p {
font-size:18px;
color:#1b7;
margin-left:6px;
float:left;
}
