/** Responsividade **/
@media only screen and (min-device-width:1200px) and (max-device-width:1365px) {
body {
zoom:100%;
}}

@media only screen and (min-device-width:1366px) and (max-device-width:1599px) {
body {
zoom:105%;
}}

@media only screen and (min-device-width:1600px) and (max-device-width:1900px) {
body {
zoom:124%;
}}

@media only screen and (min-device-width:1901px) and (max-device-width:3600px) {
body {
zoom:149%;
}}

@media only screen and (min-device-width:3601px) and (max-device-width:7600px) {
body {
zoom:299%;
}}

@media only screen and (min-device-width:7601px) {
body {
zoom:599%;
}}


/** Layout Geral **/
body {
background: radial-gradient(circle, rgba(102,34,34,1) 31%, rgba(31,22,33,1) 100%);
display:inline-block;
}

#retanglinho {
width:1260px;
height:280px;
background: linear-gradient(180deg,rgba(102,34,34,1) 0%, rgba(220,82,60,1) 2%, rgba(214,166,75,1) 75%);
float:bottom;
}

#retanglinho2 {
width:1260px;
height:290px;
background: linear-gradient(180deg, rgba(214,166,75,1) 0%,rgba(220,82,60,1) 35%,rgba(102,34,34,1) 85%);
float:bottom;
margin-top:2px;
}

button{
float:right;
margin-top:-40px;
margin-right:20%;
font-size:30px;
font-weight:900;
font-family:Helvetica;
background-color:#FFD9F3;
border-top-right-radius:90px;
border-top-left-radius:90px;
width:250px;
height:45px;
color:#1F1621;
border-right:10px solid #1b7;
border-top:4px solid #1b7;
border-left:6px solid #1b7;
}

button:HOVER {
scale:105%;
margin-top:-41px;
background-color:#ccf;
}

/**Titulos**/
h1 {
margin-right:7%;
margin-top:0px;
font-size:55px;
font-weight:900;
font-family:Helvetica;
margin-bottom:20px;
text-decoration:underline;
background-color:#FFD9F3;
border-radius:90px;
width:230px;
height:90px;
color:#1F1621;
border-right:10px solid #D6a64B;
border-left:6px solid #dc523c;
border-bottom:3px solid #dc523c;
border-top:4px solid #D6a64B;
}

h2 {
margin-top:5px;
margin-bottom:8px;
margin-left:150px;
font-size:28px;
font-weight:600;
color:#FFD9E1;
background-color:#662222;
width:115px;
height:30px;
border-bottom-right-radius:40px;
border-bottom-left-radius:10px;
text-decoration:overline;
}

h4 {
margin-top:-45px;
margin-bottom:10px;
margin-right:7%;
font-size:18px;
color:#662222;
font-style:italic;
text-decoration:overline;
}


h5 {
margin-top:-6px;
margin-bottom:2px;
margin-left:25px;
font-size:16px;
color:#FFD9F3;
font-style:italic;
text-decoration:underline;

}

#coiso {
margin-right:50%;
margin-bottom:-5px;
margin-top:0px;
font-size:30px;
font-weight:900;
font-family:Helvetica;
background-color:#FFD9F3;
border-top-right-radius:90px;
border-top-left-radius:90px;
width:180px;
height:40px;
color:#1F1621;
border-right:10px solid #D6a64B;
border-left:6px solid #dc523c;
border-top:4px solid #D6a64B;
}

/**Produtos**/
h3 {
margin-top:-15px;
margin-left:22px;
font-size:30px;
color:#1F1621;
}

#imgproduto {
width:288px;
height:170px;
padding:4px;
border-radius:18px;
}

#produto {
width:298px;
height:220px;
float:left;
background-color:#FFD9F3;
border:#1F1621 2px solid;
border-radius:20px;
margin-left:4px;
padding-right:4px;
padding:4px;
} 

p {
margin-left:30px;
font-size:18px;
color:#1b7;
margin-top:-30px;
}
